# Byte-compiled / optimized / DLL files__pycache__/
*.py[cod]
*$py.class

./venv/
./test_venv/
./reports/reports_venv/
./.pytest_cache
./.idea/*
.idea
reports/reports_venv/
venv/
venv3.10/
./srupymarc/tests/*
./srupymarc/examples/*

*.swp
*.bak

metadata_routines/metadata_routines.egg-info/*
metadata_routines/annotate_subject_terms/*.toml 
!metadata_routines/annotate_subject_terms/sample_config.toml
metadata_routines/build/
examples/annotate_subjects/cogx_auto_save/*
