# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

./venv/
./test_venv/
./reports/reports_venv/
./.pytest_cache
./.idea/*
.idea
reports/reports_venv/
venv/
./srupymarc/tests/*
./srupymarc/examples/*

*.swp
*.bak

metadata_routines/metadata_routines.egg-info/*
